/*
COLOR PALETTE
https://coolors.co/112944-ddd1c7-5998c5-32746d-ffffff
#112944 - Oxford Blue
#DDD1C7 - Timberwolf
#5998C5 - Carolina Blue
#32746D - Myrtle Green
#FFFFFF - White

https://www.webfx.com/web-design/hex-to-rgb/
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #000000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #5998C5;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0;
}

h3 .{
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
------------------------------------*/
header {
  background: #112944;
  color: #F7FFF7;
}

header p {
  text-align: left;
}

/* Projects
------------------------------------*/
.projects {
  background: #F7FFF7;
}

.projects a {
  color: #5998C5;
}
.projects .btn {
  color: #FFFFFF;
  background: #112944;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgb(17,41,68, 90%);
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}

.job-item {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 15px 0;
}
/* Education
------------------------------------*/
.education {
  background-image: url(../images/kelly-sikkema-N3o-leQyFsI-unsplashcrop.jpg);
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.education p {
  width: 70%;
}

/* Contact Info
------------------------------------*/
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
}

footer {
  background: #343434;
  color: #F7FFF7;
}

/* Responsive 
------------------------------------*/
@media screen and (min-width:600px) {
  header, footer {
    text-align: center;
  }
  .job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 15px 0;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:599px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    line-height: 1;
  }
}